<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<!-- 支持zip_code字段映射成po.zipCode -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
<!--	<typeAliases>

	</typeAliases>-->
</configuration>