<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc360.dataweb.dao.RealTimeStaticDayMapper" >
  <resultMap id="BaseResultMap" type="com.hc360.dataweb.model.RealTimeStaticDay" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="DATA_TYPE" property="dataType" jdbcType="DECIMAL" />
    <result column="DATA_COUNT" property="dataCount" jdbcType="DECIMAL" />
    <result column="IRSL_DATE" property="irslDate" jdbcType="CHAR" />
    <result column="OP_DATE" property="opDate" jdbcType="DATE" />
  </resultMap>
  <resultMap id="DoubleResultMap" type="com.hc360.dataweb.model.RealTimeStaticDoubleDay" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="DATA_TYPE" property="dataType" jdbcType="DECIMAL" />
    <result column="DATA_COUNT" property="dataCount" jdbcType="DOUBLE" />
    <result column="IRSL_DATE" property="irslDate" jdbcType="CHAR" />
    <result column="OP_DATE" property="opDate" jdbcType="DATE" />
  </resultMap>

  <select id="findUserBehaviorByToday" resultMap="BaseResultMap" >
  select DATA_TYPE, data_count, IRSL_DATE
     from (select DATA_TYPE,
               data_count,
               IRSL_DATE,
               row_number() over(partition by DATA_TYPE order by OP_DATE desc) as rn
          from SJPT_REALTIME_STATIC_DAY
         where IRSL_DATE = #{day}
         <![CDATA[ and DATA_TYPE in(1,2,3,22) ]]>
           ) t
    where t.rn = 1
    order by DATA_TYPE
  </select>
    <select id="findMonthDayDoubleData" resultMap="DoubleResultMap"  parameterType="java.util.Map" >
        select t.DATA_TYPE,t.DATA_COUNT,t.IRSL_DATE,t.DATA_DATE
    from
    (select DATA_TYPE,DATA_COUNT,IRSL_DATE,DATA_DATE,
    row_number() over(partition by irsl_date order by DATA_DATE desc ) as rn
    from  SJPT_REALTIME_STATIC_DAY
    where data_type= #{type} and substr(irsl_date,5) like #{month}||'%'
    )  t
    where t.rn=1
    order by irsl_date
    </select>

    <select id="findUserBehaviorByYesterday" resultMap="BaseResultMap">
     select *
  from (select a.DATA_TYPE,
               b.IRSL_DATE,
               b.data_count,
               a.datahour,
               b.op_date,
               row_number() over(partition by a.DATA_TYPE order by b.OP_DATE desc) as rn
          from (select DATA_TYPE,
                       max(op_date) op_date,
                       to_char(max(op_date), 'HH24') as datahour
                  from SJPT_REALTIME_STATIC_DAY
                 where IRSL_DATE =#{day}
                   <![CDATA[ and DATA_TYPE in (1,2,3,22)  ]]>
                 group by DATA_TYPE) a
          left join (select DATA_TYPE,
                           data_count,
                           IRSL_DATE,
                           op_date,
                           to_char(op_date, 'HH24') as datahour
                      from SJPT_REALTIME_STATIC_DAY
                     where IRSL_DATE =#{yesterday}
                     <![CDATA[ and DATA_TYPE in (1,2,3,22)  ]]>
                     ) b
            on a.DATA_TYPE = b.DATA_TYPE
           and a.datahour >= b.datahour) c
 where c.rn = 1
 order by DATA_TYPE

    </select>

  <select id="findUserBehaviorBy60Day" resultMap="BaseResultMap" >
    select DATA_TYPE, data_count, IRSL_DATE
    from (select DATA_TYPE,
    data_count,
    IRSL_DATE,
    row_number() over(partition by DATA_TYPE,IRSL_DATE order by OP_DATE desc) as rn
    from SJPT_REALTIME_STATIC_DAY
    where IRSL_DATE between #{startDay} and #{endDay}
      <![CDATA[ and DATA_TYPE in(1,2,3,22)  ]]>
    ) t
    where t.rn = 1
  </select>

    <select id="findRealTimeDataToday" resultMap="BaseResultMap"  parameterType="java.util.Map">

        select DATA_TYPE, data_count, IRSL_DATE,OP_DATE
        from (select DATA_TYPE,
                data_count,
                IRSL_DATE,
                OP_DATE,
                row_number() over(partition by DATA_TYPE order by OP_DATE desc) as rn
                from SJPT_REALTIME_STATIC_DAY
                where IRSL_DATE = #{day}
            <if test="list != null and list.size > 0">
                and DATA_TYPE in
                <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            ) t
        where t.rn = 1
        order by DATA_TYPE

    </select>

    <select id="findRealTimeLastDataYester" resultMap="BaseResultMap"  parameterType="java.util.Map">

        select DATA_TYPE, data_count, IRSL_DATE,OP_DATE
        from (select DATA_TYPE,
                data_count,
                IRSL_DATE,
                OP_DATE,
                row_number() over(partition by DATA_TYPE order by OP_DATE desc) as rn
                from SJPT_REALTIME_STATIC_DAY
                where IRSL_DATE = #{yesterDay}
            <if test="list != null and list.size > 0">
                and DATA_TYPE in
                <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            ) t
        where t.rn = 1
        order by DATA_TYPE

    </select>

    <select id="findRealTimeDoubleDataToday" resultMap="DoubleResultMap" parameterType="java.util.Map">

        select DATA_TYPE, data_count, IRSL_DATE,OP_DATE
        from (select DATA_TYPE,
        data_count,
        IRSL_DATE,
        OP_DATE,
        row_number() over(partition by DATA_TYPE order by OP_DATE desc) as rn
        from SJPT_REALTIME_STATIC_DAY
        where IRSL_DATE = #{day}
        <if test="list != null and list.size > 0">
            and DATA_TYPE in
            <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        ) t
        where t.rn = 1
        order by DATA_TYPE


    </select>

    <select id="findRealTimeDataYester" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select *
    from (select a.DATA_TYPE,
    b.IRSL_DATE,
    b.data_count,
    a.datahour,
    b.op_date,
    row_number() over(partition by a.DATA_TYPE order by b.OP_DATE desc) as rn
    from (select DATA_TYPE,
                max(op_date) op_date,
                to_char(max(op_date), 'HH24') as datahour
                from SJPT_REALTIME_STATIC_DAY
                where IRSL_DATE = #{day}
                <if test="list != null and list.size > 0">
                    and DATA_TYPE in
                    <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                        #{item}
                    </foreach>
                </if>
                group by DATA_TYPE) a
    left join (select DATA_TYPE,
                        data_count,
                        IRSL_DATE,
                        op_date,
                        to_char(op_date, 'HH24') as datahour
                        from SJPT_REALTIME_STATIC_DAY
                        where IRSL_DATE = #{yesterDay}
                        <if test="list != null and list.size > 0">
                            and DATA_TYPE in
                            <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                                #{item}
                            </foreach>
                        </if>
                        ) b
    on a.DATA_TYPE = b.DATA_TYPE
    and a.datahour >= b.datahour ) c

    where c.rn = 1

    order by DATA_TYPE
    </select>


    <select id="findRealTimeDoubleDataYester" resultMap="DoubleResultMap" parameterType="java.util.Map">
        select *
        from (select a.DATA_TYPE,
        b.IRSL_DATE,
        b.data_count,
        a.datahour,
        b.op_date,
        row_number() over(partition by a.DATA_TYPE order by b.OP_DATE desc) as rn
        from (select DATA_TYPE,
        max(op_date) op_date,
        to_char(max(op_date), 'HH24') as datahour
        from SJPT_REALTIME_STATIC_DAY
        where IRSL_DATE = #{day}
        <if test="list != null and list.size > 0">
            and DATA_TYPE in
            <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        group by DATA_TYPE) a
        left join (select DATA_TYPE,
        data_count,
        IRSL_DATE,
        op_date,
        to_char(op_date, 'HH24') as datahour
        from SJPT_REALTIME_STATIC_DAY
        where IRSL_DATE = #{yesterDay}
        <if test="list != null and list.size > 0">
            and DATA_TYPE in
            <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        ) b
        on a.DATA_TYPE = b.DATA_TYPE
        and a.datahour >= b.datahour ) c

        where c.rn = 1

        order by DATA_TYPE
    </select>

    <select id="findDayData" resultMap="BaseResultMap" parameterType="java.util.Map">

        SELECT DATA_TYPE, DATA_COUNT, IRSL_DATE, OP_DATE
        FROM (SELECT ID,
        DATA_TYPE,
        DATA_COUNT,
        IRSL_DATE,
        OP_DATE,
        ROW_NUMBER() OVER(PARTITION BY DATA_TYPE, IRSL_DATE ORDER BY OP_DATE DESC) AS DT_ORDER
        FROM SJPT_REALTIME_STATIC_DAY T
        WHERE T.IRSL_DATE BETWEEN #{preDay}AND #{day}
        and t.DATA_TYPE=#{type}) X
        WHERE X.DT_ORDER = 1

    </select>

    <select id="findDayData2" resultMap="BaseResultMap" parameterType="java.util.Map">

        SELECT DATA_TYPE, DATA_COUNT, IRSL_DATE, OP_DATE
        FROM (SELECT ID,
        DATA_TYPE,
        DATA_COUNT,
        IRSL_DATE,
        OP_DATE,
        ROW_NUMBER() OVER(PARTITION BY DATA_TYPE, IRSL_DATE ORDER BY OP_DATE DESC) AS DT_ORDER
        FROM SJPT_REALTIME_STATIC_DAY T
        WHERE T.IRSL_DATE BETWEEN #{preDay}AND #{day}
        <if test="list != null and list.size > 0">
            and t.DATA_TYPE in
            <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        ) X
        WHERE X.DT_ORDER = 1

    </select>
    <select id="findDayDoubleData" resultMap="DoubleResultMap" parameterType="java.util.Map">

        SELECT DATA_TYPE, DATA_COUNT, IRSL_DATE, OP_DATE
        FROM (SELECT ID,
        DATA_TYPE,
        DATA_COUNT,
        IRSL_DATE,
        OP_DATE,
        ROW_NUMBER() OVER(PARTITION BY DATA_TYPE, IRSL_DATE ORDER BY OP_DATE DESC) AS DT_ORDER
        FROM SJPT_REALTIME_STATIC_DAY T
        WHERE T.IRSL_DATE BETWEEN #{preDay} AND #{day}
        and t.DATA_TYPE=#{type}) X
        WHERE X.DT_ORDER = 1

    </select>

    <select id="findDayDoubleDataMip" resultMap="DoubleResultMap" parameterType="java.util.Map">

        SELECT #{dataType} as DATA_TYPE, sum(DATA_COUNT)as DATA_COUNT, IRSL_DATE
        FROM (SELECT ID,
        DATA_TYPE,
        DATA_COUNT,
        IRSL_DATE,
        OP_DATE,
        ROW_NUMBER() OVER(PARTITION BY DATA_TYPE, IRSL_DATE ORDER BY OP_DATE DESC) AS DT_ORDER
        FROM SJPT_REALTIME_STATIC_DAY T
        WHERE T.IRSL_DATE BETWEEN  #{preDay}AND #{day}
        <if test="list != null and list.size > 0">
            and t.DATA_TYPE in
            <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        ) X
        WHERE X.DT_ORDER = 1
        group by  IRSL_DATE
        order by IRSL_DATE
    </select>
    <select id="findRealTimeDataNewest" resultMap="BaseResultMap"  parameterType="java.util.Map">

        select DATA_TYPE, data_count, IRSL_DATE,OP_DATE
        from (select DATA_TYPE,
        data_count,
        IRSL_DATE,
        OP_DATE,
        row_number() over(partition by DATA_TYPE order by IRSL_DATE desc) as rn
        from SJPT_REALTIME_STATIC_DAY
        <if test="list != null and list.size > 0">
            where DATA_TYPE in
            <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </if>
        ) t
        where t.rn = 1
        order by DATA_TYPE

    </select>
    <select id="findRealTimeDataSecond" resultMap="BaseResultMap" parameterType="java.util.Map">
        select t.DATA_TYPE,t.DATA_COUNT,t.IRSL_DATE,t.op_date
        from
        (select DATA_TYPE,DATA_COUNT,IRSL_DATE,op_date,
        row_number() over(partition by data_type order by IRSL_DATE desc) as rn
        from SJPT_REALTIME_STATIC_DAY
        <where>
            <if test="list != null and list.size > 0">
                data_type in
                <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ) t
        where t.rn = 2
    </select>

    <select id="findLastDataByOpDate" resultMap="BaseResultMap" parameterType="java.util.Map">
        select w.DATA_TYPE,w.DATA_COUNT,w.IRSL_DATE,w.op_date
        from sjpt_realtime_static_day w
        join (
            select t.op_date from
            (
                select a.*,row_number() over( order by op_date desc) as rn from sjpt_realtime_static_day a
                <where>
                    <if test="list != null and list.size > 0">
                        a.data_type in
                        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                            #{item}
                        </foreach>
                    </if>
                </where>
                order by a.op_date desc
            ) t
            where t.rn=1
        ) q
        on  w.op_date=q.op_date
        <where>
            <if test="list != null and list.size > 0">
                w.data_type in
                <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by data_type

    </select>
    <select id="findEveryDayIncome" resultMap="DoubleResultMap" parameterType="java.util.Map">
        select
          data_type, data_count as source_data_count, irsl_date,
          (data_count-lag(data_count) over (order by irsl_date)) as data_count
        from
        (
        select
          data_type, data_count, irsl_date,
          row_number() over (partition by data_type, irsl_date order by data_count) as order_sn
        from sjpt_realtime_static_day t
        where t.data_type = #{type}
          and t.irsl_date BETWEEN #{preDay}AND #{day}
        ) x
        where order_sn = 1
    </select>
</mapper>