<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc360.dataweb.dao.RealTimeMonthWeekBaseMapper">
    <resultMap id="BaseResultMap" type="com.hc360.dataweb.model.RealTimeMonthWeekBase">
        <result column="DAY" property="day" jdbcType="VARCHAR"/>
        <result column="WEEK_NUM" property="weekNum" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="findMonthWeekBase" resultMap="BaseResultMap">
   <![CDATA[
        select WEEK_NUM
    from (select
    WEEK_NUM,
    row_number() over(partition by WEEK_NUM order by day desc) as rn
    from realtime_monthweek_base
     where day <= #{day}
    order by day desc) t
    where rn = 1
     and rownum <= #{weeks}
     order by WEEK_NUM asc
        ]]>
  </select>
</mapper>