<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc360.dataweb.dao.RealtimeUserInfoPrivilegeMapper" >
       <resultMap id="RealtimeUserInfoPrivilege" type="com.hc360.dataweb.model.RealtimeUserInfoPrivilege" >
              <result column="USERID" property="userid" jdbcType="DECIMAL" />
              <result column="PRIVILEGEID" property="privilegeid" jdbcType="DECIMAL" />
              <result column="PRIVILEGE" property="privilege" jdbcType="VARCHAR" />
              <result column="P_TYPE" property="p_type" jdbcType="DECIMAL" />
              <result column="STATE" property="state" jdbcType="DECIMAL" />
       </resultMap>


       <resultMap id="RealtimePrivilege" type="com.hc360.dataweb.model.RealtimePrivilege" >
              <result column="ID" property="id" jdbcType="DECIMAL" />
              <result column="PRIVILEGE" property="privilege" jdbcType="VARCHAR" />
              <result column="P_TYPE" property="p_type" jdbcType="DECIMAL" />
              <result column="STATE" property="state" jdbcType="DECIMAL" />
       </resultMap>

       <sql id="Base_Column_List" >
              ID, PRIVILEGE,P_TYPE, STATE
       </sql>


       <select id="getUserInfoPrivileges" resultMap="RealtimeUserInfoPrivilege" >
              SELECT a.*,b.PRIVILEGE,b.P_TYPE,b.STATE
              FROM REALTIME_USERINFO_PRIVILEGE a ,realtime_privilege b
              WHERE a.USERID = #{userid} AND  a.PRIVILEGEID = b.ID
              AND b.STATE=0  order by b.sort asc
       </select>

       <select id="getUserInfoPrivilegeIds" resultType="Integer">
              SELECT a.PRIVILEGEID
              FROM REALTIME_USERINFO_PRIVILEGE a ,realtime_privilege b
              WHERE a.USERID = #{userid} AND  a.PRIVILEGEID = b.ID
              AND b.STATE=0 order by b.sort asc
       </select>

       <delete id="deleteUserInfoPrivileges">
              DELETE FROM REALTIME_USERINFO_PRIVILEGE WHERE  USERID = #{userid}
       </delete>

       <insert id="insertUserInfoPrivileges" >
              <if test="privilegeids!=null and privilegeids.size()>0">
                     INSERT ALL
                     <foreach collection="privilegeids" item="privilegeid" index="index">
                            INTO REALTIME_USERINFO_PRIVILEGE(USERID,PRIVILEGEID) VALUES  (#{userid},#{privilegeid})
                     </foreach>
                     SELECT * FROM dual
              </if>
       </insert>


       <select id="getPrivilegesByPTYPE" resultMap="RealtimePrivilege" >
              SELECT <include refid="Base_Column_List" />
              FROM REALTIME_PRIVILEGE
              WHERE P_TYPE= #{p_type}  AND STATE=0
              order by sort asc
       </select>


       <select id="getAllPrivileges" resultMap="RealtimePrivilege" >
              SELECT <include refid="Base_Column_List" />
              FROM REALTIME_PRIVILEGE
              WHERE STATE=0
              order by sort asc
       </select>

</mapper>