<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc360.dataweb.dao.RealTimeStatic2DataMapper" >
  <resultMap id="BaseResultMap" type="com.hc360.dataweb.model.RealTimeStatic2Data" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="DATA_TYPE" property="dataType" jdbcType="DECIMAL" />
    <result column="ELEMENT" property="element" jdbcType="VARCHAR" />
    <result column="DATA_COUNT1" property="dataCount1" jdbcType="DECIMAL" />
    <result column="DATA_COUNT2" property="dataCount2" jdbcType="DOUBLE" />
    <result column="DATA_DATE" property="dataDate" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findByLastHour" resultMap="BaseResultMap" parameterType="java.util.Map">
    select *
    from (
    select data_type,element,data_count1,data_count2,data_date,
    row_number() over(partition by DATA_TYPE,element order by data_date desc) as rn
    from sjpt_realtime_static_2data
    where data_date = #{day}
    and data_type =#{type}  ) t
    where t.rn =1
    order by #{sort} desc
  </select>

  <select id="findMaxDate" resultMap="BaseResultMap" >
    select max(data_date) as data_date
    from sjpt_realtime_static_2data
  </select>

</mapper>