<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc360.dataweb.dao.RealtimeUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.hc360.dataweb.model.RealtimeUserInfo" >
    <result column="ID" property="id" jdbcType="DECIMAL" />
    <result column="MISNAME" property="misname" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="DECIMAL" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, MISNAME, STATE
  </sql>
  <select id="selectByMisName" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from REALTIME_USERINFO
    where MISNAME=#{misname}
    and STATE=0
  </select>

  <select id="selectByMisNameForAdd" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from REALTIME_USERINFO
    where MISNAME=#{misname}
  </select>

  <select id="selectAllUsers" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from REALTIME_USERINFO
  </select>

  <insert id="insertAuthUser"  useGeneratedKeys="true"  flushCache="true">
    <selectKey keyProperty="id" resultType="Integer" order="BEFORE">
         select max(ID)+1 from REALTIME_USERINFO
    </selectKey>
        INSERT INTO REALTIME_USERINFO(ID,MISNAME) VALUES (#{id},#{misname})
  </insert>

  <update id="updateUserState">
      UPDATE REALTIME_USERINFO  SET STATE=#{state} WHERE ID=#{id} AND MISNAME=#{misname}
  </update>

</mapper>