<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hc360.dataweb.dao.TableCheckConfigMapper" >
  <resultMap id="BaseResultMap" type="com.hc360.dataweb.model.TableCheckConfig" >
    <result column="TB_NAME" property="tbName" jdbcType="VARCHAR" />
    <result column="SOURCE" property="source" jdbcType="VARCHAR" />
    <result column="CHECK_CYCLE" property="checkCycle" jdbcType="DECIMAL" />
    <result column="DB_TYPE" property="dbType" jdbcType="DECIMAL" />
    <result column="INSERT_DATE" property="insertDate" jdbcType="DATE" />
  </resultMap>

  <sql id="Base_Column_List" >
    TB_NAME, SOURCE, CHECK_CYCLE, DB_TYPE, INSERT_DATE
  </sql>
  <select id="find" resultMap="BaseResultMap" parameterType="com.hc360.dataweb.model.TableCheckConfig" >
    select

    <include refid="Base_Column_List" />
    from TABLE_CHECK_CONFIG

  </select>

</mapper>